<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moritz.musicsyncapp">

    <application>

        <service
            android:name="com.moritz.musicsyncapp.controller.p2pnetwork.services.CommuicationService"
            android:enabled="true"
            android:exported="true" />
    </application>


</manifest>